@import "../../../GlobalStyles/colors.css";
@import "../../../GlobalStyles/fonts.scss";

.button {
  height: auto;
  width: auto;
  padding: 8px;

  display: grid;
  place-items: center;

  
  border: 3px solid black;  
  &.rounded { border-radius: 10px; }

  font: {
    family: var(--sansSerifStack);
    weight: bold;
    size: 1.2rem;
  };

  transition: all 0.25s ease-in-out;

  &.lightTheme { background: var(--black); }
  &.darkTheme { background: var(--white); }

  &:hover { cursor: pointer; }
  &:link, &:visited, &:hover, &:active {
    cursor: pointer;
    text-decoration: none;
    outline: none;
  }  
}
