.sliderCradle {
	display: grid;
	place-items: center;
	grid-auto-flow: column;
	height: 25px;
	width: 50px;

	padding: 2.5px;

	position: relative;
	overflow: hidden;

	transition: background ease-in-out 0.5s;

	&.darkTheme {
		background: var(--veryDarkGrey);
	}

	&.lightTheme {
		background: var(--lightGrey);
	}

	&.isTransitioned {
		&.darkTheme { background: var(--darkGrey); }
		&.lightTheme { background: var(--grey); }

		.handle {
			transform: translateX(50px / 2);
		}
	}	
}

.option1 { width: 50%; }
.option2 { width: 50%; }

.handle {
	cursor: pointer;
	height: var(--sliderHeight);
	width: var(--sliderHeight);

	background: var(--white);

	border-radius: 3px;

	position: absolute;
	top: 25px * 0.04;
	left: 25px * 0.04;

	transition: transform cubic-bezier(1, 0.11, 1, 1.04) 400ms;
}
