:root {
	--white: #FFF	;
	--whiteSmoke: #F5F5F5	;
	--gainsboro: #DCDCDC;
	--lightGrey: #D3D3D3;
	--silver: #C0C0C0	;
	--gray: #A9A9A9	;
	--darkGrey: #808080	;
	--veryDarkGrey: #404040	;
	--black: #000000	;
	--leafyGreen: #319606;
	--strongRed: #b73434;
	--lightestInteractive: #ab77c6;
	--lighterInteractive: #9a66b2 ;
	--covenantPurple: #8a559e;
	--darkerInteractive: #744c87;
	--darkestInteractive: #5c3f6d;

	--c_mainAccent: var(--covenantPurple);
	--c_success: var(--leafyGreen);
	--c_error: var(--strongRed);
	--c_light: var(--white);
	--c_lowContrastLightMode: var(--lightGrey);
	--c_lowContrastDarkMode: var(--darkGrey);
	--c_highContrastLightMode: var(--darkGrey);
	--c_highContrastDarkMode: var(--lightGrey);
	--c_dark: var(--veryDarkGrey);
	--c_interactionLightest: var(--lightestInteractive);
	--c_interactionLight: var(--lighterInteractive);
	--c_interaction: var(--covenantPurple);
	--c_interactionDarker: var(--darkerInteractive);
	--c_interactionDarkest: var(--darkestInteractive);
}


