.cradle {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
	overflow-y: auto;
	align-content: start;

	&.darkTheme{ background: var(--veryveryDarkGrey); }
	&.lightTheme{ background: var(--white); }

	height: 100%;
	width: 100%;
}
