.indicatorGallery {
	height: auto;
	width: 100%;
	padding: 20px 0px;

	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: auto;
	align-items: space-around;
	justify-content: center;
}

.indicatorGalleryRow {
	height: auto;
	width: 100%;

	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: start;
	grid-gap: 1.5rem;
}
