@import '../../../../GlobalStyles/colors.css';

.treeNode {
  display: grid;
  align-items: center;
  justify-items: left;
  grid-auto-flow: column;
  align-items: center;
  padding: 5px 8px;
	// - Left padding determined at run time by the component, 
	//   based on nesting level within the tree structure.
	&:hover {
		&.darkTheme {
			background: var(--veryDarkGrey);
		}
		&.lightTheme {
			background: var(--lightGrey);
		}
	}
}

.nodeIcon {
	font: {
		family: var(--sansSerifStack);
		size: 1.2rem;
		// padding: 0 5px;
		// - Margin right determined at run time by the component. 
	}
}

.darkTheme {
	color: var(--white);
}

.lightTheme {
	color: var(--black);
}
