@import '../../../../GlobalStyles/colors.css';
@import '../../../../GlobalStyles/generalVars.scss';

.documentationItem {
	
	height: 100%;
	width: 100%;

	&.darkTheme {
		background: var(--veryveryDarkGrey);	
		color: var(--white);
	}

	&.lightTheme {
		background: var(--white);
		color: var(--black);
	}
}
