@import '../../../../GlobalStyles/colors.css';
@import '../../../../GlobalStyles/generalVars.scss';

.documentationTree {

	height: 100%;
	width: 100%;

	padding-left: 30px;
	overflow-y: scroll;

	@media (max-width: 650px) {
		padding-left: 0px;
	}

	&.darkTheme {
		background: var(--veryveryDarkGrey);
		color: var(--white);
	}

	&.lightTheme {
		background: var(--white);
		color: var(--black);
	}
}
