.footer {
	padding: 35px 15px;
	min-height: 350px;
	width: 100%;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 2fr 4fr;

	&.darkTheme {
		background: var(--black);
		color: var(--white);
	}

	&.lightTheme {
		background: var(--lightGrey);
		color: var(--black);
	}

	& .logo {
		height: 100%;
		width: 100%;
		display: grid;
		place-items: center;
	}

	& .footerInfo {
		height: 100%;
		width: 100%;
		display: grid;

		& .description {
			height: 100%;
			width: 100%;
		}

		& .links {
			height: 100%;
			width: 100%;
			display: grid;
			grid-template-columns: 200px;
			justify-content: center;
			grid-gap: 1rem;
		}
	}
}
