@import "../../../GlobalStyles/colors.css";

.cradle {
	min-height: 100%;
	width: 100%;
	overflow: auto;
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
}

.darkTheme {
	background: var(--dark);
}

.lightTheme {
	background: var(--light);
}
