@import "../../../GlobalStyles/colors.css";
@import "../../../GlobalStyles/generalVars.scss";

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--cardWidth));
	grid-template-rows: repeat(auto-fill, var(--cardHeight));
	justify-content: center;
	justify-items: center;
	// grid-gap: 10px;
	grid-auto-flow: dense;
	overflow-y: auto;
	padding: 10px;

	&.darkTheme {
		background: var(--veryveryDarkGrey);
	}

	&.lightTheme {
		background: var(--white);
	}
}
