@import "../../../GlobalStyles/colors.css";
@import "../../../GlobalStyles/generalVars.scss";

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--cardWidth), 1fr));
	grid-template-rows: repeat(auto-fill, var(--cardHeight));
	grid-gap: 1rem;
	grid-auto-flow: dense;

	&.darkTheme {
		background: var(--veryveryDarkGrey);
	}

	&.lightTheme {
		background: var(--white);
	}
}
