@import '../../../GlobalStyles/colors.css';
@import '../../../GlobalStyles/generalVars.scss';

.documentationDisplay {

	height: 100%;
	width: 100%;

	display: grid;	
	grid-template-columns: 350px 1fr;

	&.darkTheme {
		background: var(--black);
		color: var(--white);
	}

	&.lightTheme {
		background: var(--white);
		color: var(--black);
	}
}
