@import '../../GlobalStyles/generalVars.scss';
@import '../../GlobalStyles/colors.css';
@import '../../GlobalStyles/fonts.scss';
@import '../../GlobalStyles/zIndexes.scss';

.sideMenu {
	position: fixed;
	top: 85px; // - Hardcoded for now according to navbar it slides in under.
	left: 15px; 
	z-index: var(--floatingElementZIndex);

	height: calc(100% - 100px); // - Make up for top shift and take away 15 more pixels
	width: 350px;								//   so that menu doesn't sit flush with bottom of page.
	padding: 15px 15px;
	border-radius: 3px;
	transform: translateX(-120%);
	transition: all 0.3s ease-in-out;

	display: grid;
	grid-template-columns: 1fr;
	justify-content: start;
	align-content: start;

	&.darkTheme {
		background: var(--black);
		color: var(--white);
		box-shadow: var(--boxShadowDarkTheme);
	}

	&.lightTheme {
		background: var(--white);
		color: var(--black);
		box-shadow: var(--boxShadowLightTheme);
	}

	& h3 {
		font: {
			family: var(--sansSerifStack);
			size: 2rem;
		}

		&.darkTheme { text-decoration: underline var(--white); }
		&.lightTheme { text-decoration: underline var(--black); }
	}

	&.open {
		transform: translateX(0);
	}
}
